body {
    font-family: 'Monsterrat';
    /* height: 2000px; */
}

.logo {
  width: 60px;
  height: 60px;
}

.navbar {
  background-color: #171717;

}

.nav-item {
    margin-right: 24px;
    font-weight: 200;
}

.nav-item.active a {
    color: #A0D3A5 !important;
}

.nav-link span{
    color: #A0D3A5;
    font-weight: 600;
}

.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.carousel h1 {
    font-family: 'lora';
}

.carousel p {
    font-weight: 200;
}

.features h3, .designer h3{
    font-family: 'lora';
    color: #A0D3A5;
    font-weight: bold;
}

.features p, .designer p, footer p{
    font-weight: 200;
    color: #b7b7b7;
}

.feagure h5{
    font-weight: bold;
    color: #171717;

}

.figure-img{
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8px;
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;

}

.figure-img:hover a{
    opacity: 1;
}

.breadcrumb{
    margin-top: 100px;
    background: transparent;
}

.product-thumbnail-container{

    background-color: white;
    box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.5);
    width: 360px;
    padding: 8px;
    margin: auto;
    transform: translateY(-45px);
}

.product-thumbnail-container a:hover{
    text-decoration: none;
}

.btn-product{
    margin: 50px 0;
    color: white;
    border-bottom: 1px #b7b7b7 solid;
    padding-bottom: 30px;
}

.btn-product .btn{
    display: block;
    margin: 5px 0;;
}

.design-by h5{
    font-size: 15px;
    font-weight: 200;
}

.design-by h4{
    font-size: 18px;
    font-weight: 200;
    color: #171717;
}

.design-by p{
    font-size: 14px;
    font-weight: 200;
}

.design-by p span{
    font-size: 14px;
    font-weight: 200;
    color: #b7b7b7;
}

/* .design-by .row a{
    display: inline-block;
} */